<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>SSR</h1>

    <h2>Todos</h2>

    <form action="/todos" method="POST">
        <input type="text" name="todo">
        <button type="submit">Add Todo</button>
    </form>

    <ul>
        <% for(let todo of Todos){ %>
            <li><%= todo %> </li>
        <% } %>
    </ul>


</body>
</html>

<!-- The request sent by this method will not be considered AJAX request
As for the request to be AJAX there needs to be the JavaScript in between
while here that's not the case here. We are sending this request via browser
 -->